@charset "UTF-8";
/* font preset*/
* { padding: 0; margin: 0; }



.bdn { border: none !important; }

.fam { font-family: '微软雅黑', Arial, Helvetica, sans-serif; }

.tdNo, .tdNo:hover { text-decoration: none; }

/*typset preset*/

.bc { margin-left: auto; margin-right: auto; }

.clear { clear: both; }

.fl { float: left !important; _display: inline; }

.fr { float: right !important; _display: inline; }

.show { display: block; }

.hide { display: none; }

.clearfix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { zoom: 1; }

/*.clearfix{display:inline-block;}*/
+ html .clearfix { height: 1%; }

.vm { vertical-align: middle; }

.zoom { zoom: 1; }

.hidden { visibility: hidden; }

.none { display: none; }

.ovhidden, .oh { overflow: hidden; }

.txh { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/*typset preset*/


.clearfix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { zoom: 1; }

/*zindex prest*/


/*margin prest*/
.cent { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }

.mAuto { margin: 0 auto; }

.show { display: block; }




.mb0 { margin-bottom: 0 !important; }



/* --------------------------------------------------------------------------- function --------------------------------------------------------------------------- */
.enableSelect { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; }

.ableSelect { user-select: text; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; -o-user-select: text; }

/* --------------------------------------------------------------------------- global --------------------------------------------------------------------------- */
html, body, ul, p { padding: 0; margin: 0; list-style: none; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; behavior: url(PIE.htc); }

body { font-size: 12px; color: #19344f; line-height: 1; background: #fff; }

dl, dt, dd { margin: 0; padding: 0; }

a { cursor: pointer; text-decoration: none; }

a img { outline: none; border: none; vertical-align: top; }

table { border-collapse: collapse; }

th, td { padding: 0; margin: 0; }

/* preset color */
.colore333 { color: #333; }

.colore999 { color: #999; }

.clear { clear: both; }

.padding20_0 { padding: 20px 0; }

button, input { outline: none; }

/*公共样式*/
.v-line { display: inline-block; width: 0; height: 12px; margin: 10px 12px 0; border-right: 1px solid #a8a9ae; }
.brd-no { border: none !important; }
em, i{
    font-style: normal;
}
ins, a {
    text-decoration: none;
}



/*销售订单*/
.x-comcontent {
    width: 100%;
    float: left;
    height: 100%;
    background: #fff;
    color: #19344f;
    overflow: auto;
}
.x-comcontent .content {
    padding: 20px 20px;
}
.x-comcontent .sell-tit{
    font-size: 12px;
    color: #666;
}
.x-comcontent .sell-tit .tit{
    padding-right: 50px;
}
.x-comcontent .sell-tit em{
    color: #333;
}
.sell-cont .h-guide .x-tit{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e9ef;
}
.sell-cont .sell-list{
    margin:20px 0 10px 0;

}
.sell-cont .sell-list .item{
    float: left;
    padding-bottom: 15px;
    font-size: 14px;
    width: 16.6%;
    /*height: 190px;*/
    text-align: center;
}
.sell-cont .sell-list .item-2{
    width: 33.3%;
}
.sell-cont .sell-list .item a{
    color: #333;
    display:block;
    margin:0 20% 0 0;
    background: #f5f5f5;
    /*height: 150px;*/
    padding: 8% 0;
}
.sell-cont .sell-list .item a:hover{
    background: #e9e9e9;
}
.sell-cont .sell-list .item .sell-ico{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.sell-cont .sell-list .item .sell-ico img{
    width: 100%;
}
.sell-cont .sell-list .item a .sell-txt em {
    color: #ff655d;
}

.sell-cont .sell-list .item .sell-txt{
    line-height: initial;
    margin-top: 10px;
    font-size: 16px;
}
.sell-cont .sell-list .item .mun{
    margin-top: 3px;
    font-size: 30px;
    color: #ff655d;
    line-height: 30px;
}
/*end 销售订单*/


